/* Image Listing Styling */

.container {
  max-width: 800px;
}

.list_wrapper {
  display: flex;
  height: 16rem;
  overflow: auto;
}

.image_wrapper {
  & > .delete_btn {
    display: none;
  }
  &:hover {
    .delete_btn {
      display: block;
    }
  }
}

.image_placeholder {
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin-left: 10px;
}

.no_data {
  height: 200px;
  width: 700px;
  text-align: center;
}
