/* Image Preview Styling */

.preview_container {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.no_preview_data {
  width: 400px;
  height: 400px;
  font-size: 20px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.preview_placeholder {
  width: 400px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
